* {
    box-sizing: border-box;
}


body {
margin: 0;
}
/*Navbar*/
.site_title{
    color: white;
    font-size: 2rem;

}
.container{
    margin: 1rem;
    text-align: center;

}

.navbar{
    background-color:  #009f78;
    color: white;
    Display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

nav ul { 
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li.active {
    background-color: #007f57;
}
nav li:hover{
    background-color: #777;
}

.logout{
    background-color:  #009f78;

}
/*Post/Request Form*/

form{
    padding: 2rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 23.75rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgba(187, 229, 193, 0.442);
}

.form-block{
    padding: 0;
    border: 0;
}
.form-label{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    touch-action: manipulation;
  }

.form-input{
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}


/*Sig up Form*/
.sign-up {

}

/*Post/Request page*/
.requests{

}



/*Post/Request card*/

.request_card {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #fff;
    transition: background-color 1s ease-out;
}
.request_card--accepted {
    background: palegreen;
}

.request_card_image {}

.button {
    padding: 8px 16px;
    border: 0;
    border-radius: 5px;
    background-color:#009f78;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color:#95f3db;
}

/*Requests Page*/
.request {}

.request_card {}

/*Members Page*/

.member_card {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
    transition: background-color 1s ease-out;
}

/* Profile */


/* utilities */
.hide {
    display: none;
}

