* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    position: relative;
}

#root:before {
    content: '';
    position: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    opacity: .15;
    background-image: url(./images/AnimalFeet.jpeg);
    background-size: cover;
    z-index: -1;
}

/* Home Screen*/
.home-top {
    width: 90%;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;
    text-shadow: #009f78;
}

.home-bottom {
    width: 90%;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;
    text-shadow: #009f78;
}

/*Navbar*/
.site_title {
    color: white;
    font-size: 2rem;
}
.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1024px;
}

.navbar {
    position:sticky;
    background-color: #009f78;
    color: white;
    Display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li.active {
    background-color: #007f57;
}

nav li:hover {
    background-color: #777;
}

.logout {
    background-color: #009f78;

}

/* Post/login/signup Form*/

#post-form {
    padding: 1rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 23.75rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgba(187, 229, 193, 0.442);
}

/*Post form */
.form-block {
    padding: 8px;
    border: 0;

}

.form-label {
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

.form-input {
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.form-button {
    width: 100%;
}

.post-sent #post-form {
    display: none;
}
.post--thank-you{
    display: none;
    max-width: 23.75rem;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background: #fff;;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(187 229 193 / 44%);
}
.post-sent .post--thank-you {
    display: block;
}

/*Login form */
.login-label {
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

.login-input {
    display: block;
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}



/*Sign up Form*/
.signup-block {
    padding: 8px;
    border: 0;
}

.signup-label {
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

.signup-input {
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

/* User Card */
.user_card {
    max-width: 650px;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

.user-cards {
    max-width: 650px;
    margin: auto;
}

.user-cards__status {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

.dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.dot--open {
    background-color: #e3f3e9
}

.dot--taken {
    background-color: #98fb98;
}

.user-request_card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 8px 0px; 
    grid-template-areas: 
        "user-request_card--title user-request_card--title"
        "user-request_card--image user-request_card--image"
        "user-request_card--owner user-request_card--owner"
        "user-request_card--description user-request_card--description"
        "user-request_card--start user-request_card--end"
        "user-request_card--status user-request_card--status"; 
    flex-direction: column;
    max-width: 650px;
    padding: 1rem;
    margin: 16px auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 3px rgba(17, 19, 18, 0.3);
    color: rgb(12, 85, 71);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

.user-request_card--title { 
    grid-area: user-request_card--title;
    font-weight: 700;
 }
.user-request_card--image { 
    grid-area: user-request_card--image; 
}
.user-request_card--owner { 
    grid-area: user-request_card--owner; 
    font-weight: 700;
}
.user-request_card--description { 
    grid-area: user-request_card--description; 
}
.user-request_card--start { 
    grid-area: user-request_card--start; 
    background: #fff;
    padding: .5rem 1rem;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
.user-request_card--end { 
    grid-area: user-request_card--end; 
    background: #fff;
    padding: .5rem 1rem;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.user-request_card--status { 
    grid-area: user-request_card--status;
    background: #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
}
.user-request_card--accepted {
    background: palegreen;
}

/* Request Card */

.request_card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 8px 0px; 
    grid-template-areas: 
        "request_card--title request_card--title"
        "request_card--image request_card--image"
        "request_card--owner request_card--owner"
        "request_card--description request_card--description"
        "request_card--start request_card--end"
        "request_card--button request_card--button"; 
    flex-direction: column;
    max-width: 650px;
    padding: 1rem;
    margin: 16px auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 3px rgba(17, 19, 18, 0.3);
    color: rgb(12, 85, 71);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

.request_card--title { 
    grid-area: request_card--title;
    font-weight: 700;
 }
.request_card--image { 
    grid-area: request_card--image; 
}
.request_card--owner { 
    grid-area: request_card--owner; 
    font-weight: 700;
}
.request_card--description { 
    grid-area: request_card--description; 
}
.request_card--start { 
    grid-area: request_card--start; 
    background: #fff;
    padding: .5rem 1rem;
    border-radius: 5px 0 0 5px;
    text-align: center;
}
.request_card--end { 
    grid-area: request_card--end; 
    background: #fff;
    padding: .5rem 1rem;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.request_card--button { 
    grid-area: request_card--button; 
}

.request_card--accepted {
    background: palegreen;
}

.request_card_name, .request_card h3 {
    margin-top: 0;
}

.member_card_username, 
.user_card_username, 
.request_card h3 {
    margin-top: 0;
}

.post-image {
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
}

.button {
    padding: 8px 16px;
    border: 0;
    border-radius: 5px;
    background-color: #009f78;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #95f3db;
}

/*Members Page*/

.member_card {
    max-width: 650px;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

/* utilities */s
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.block-center {
    display: block;
    margin: auto

}