* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    position: relative;
}

#root:before {
    content: '';
    position: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    opacity: .15;
    background-image: url(./images/AnimalFeet.jpeg);
    background-size: cover;
    z-index: -1;
}

/* Home Screen*/
.home-top {
    width: 90%;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;
    text-shadow: #009f78;
}

.home-bottom {
    width: 90%;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;
    text-shadow: #009f78;
}

.pup-gif {}

/*Navbar*/
.site_title {
    color: white;
    font-size: 2rem;
}
.container {
    margin: 1rem;
}

.navbar {
    position:sticky;
    background-color: #009f78;
    color: white;
    Display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li.active {
    background-color: #007f57;
}

nav li:hover {
    background-color: #777;
}

.logout {
    background-color: #009f78;

}

/* Post/login/signup Form*/

form {
    padding: 2rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 23.75rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgba(187, 229, 193, 0.442);
}

/*Post form */
.form-block {
    padding: 8px;
    border: 0;

}

.form-label {
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

.form-input {
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

/*Login form */
.login-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

.login-input {
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}



/*Sig up Form*/
.signup-block {
    padding: 8px;
    border: 0;

}

.signup-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    touch-action: manipulation;

}

.signup-input {
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #eee;
    border-left: 0;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}


/*Post/Request page*/

/*Post/Request card*/

.request_card {
    height: fit-content;
    max-width: 650px;
    margin: 16px auto;
    border-radius: 16px;
    box-shadow: 1px 1px 3px rgba(17, 19, 18, 0.3);
    padding: 1rem;
    color: rgb(12, 85, 71);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

.request_card--accepted {
    background: palegreen;
}

.post-image {
    height: 300px;
    width: auto;
    border-radius: 50%;

}

.button {
    padding: 8px 16px;
    border: 0;
    border-radius: 5px;
    background-color: #009f78;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #95f3db;
}

/*Members Page*/

.member_card {

    height: fit-content;
    width: 650px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(227, 243, 233);
    transition: background-color 1s ease-out;
}

/* Profile */


/* utilities */
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.block-center {
    display: block;
    margin: auto
}

/* footer */
